/* definindo nosso estilo... */ 

@charset "UTF-8";

@font-face {
    font-family: 'octosquares';
    src: url('../fonts/TT\ Octosquares\ Trial\ Light.ttf');
}

.fundofixo{
    background: url(../images/churrascaria.jpg) fixed no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
}


.cards-produtos-destaque {
    display: flex;
}

.espaco {
    margin-top: 20px;
}

.desfoque {
    filter: blur(4px);
}

.fixo {
    background: fixed;
    display: block;
}

.posicao-btn {
    padding-top: 600px;
    padding-right: 60px;
    text-align: end;
}

.tamanhobtn {
    font-size: 50px;
}

.vermelho {
    background-color: rgb(148, 15, 15);
}

/* Textos do Menu Publico */

#menupublicotxt{
    color: white;
}

#menupublicotxt:hover{
    color: black !important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: none;
}

/* Dropdown do menu publico */

#dropdownmenup{
    background: transparent;
    backdrop-filter: blur(15px);
    border: 1px solid white;
}

.octosquare{
    font-family: 'octosquares';
}

#dropdownmenup a{
    color: white;
}

/* Estilo para o menu fixo */
.navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
}

/* Estilo para o fundo do menu quando o usuário rolar para baixo */
.navbar-scroll {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: #272727; /* Defina a cor de fundo desejada */
}

#tabela_produtos{
    background-color: #ececec;
}

.fundo_listarP{
    background-color: #4d4d4d;
}

.fundo_banner{
    background: url(../images/Banner1.jpg) no-repeat;
    background-size: cover;
}

#textoProdDes{
    background: transparent;
    color: white;
}

/* ///////////////// COMEÇO DO SOBRE /////////////////////// */


.txtSobre{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Botão de Saiba Mais */
.btnSaibaMais {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
    background: #AF2319;
    font-family: "Montserrat", sans-serif;
    -webkit-box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
}
   
.btnSaibaMais:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #FFD401;
    position: absolute;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    right: 0;
}
   
.btnSaibaMais:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}
   
.btnSaibaMais span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
   
.btnSaibaMais:hover span {
    color: #183153;
    -webkit-animation: scaleUp 0.3s ease-in-out;
            animation: scaleUp 0.3s ease-in-out;
}
   
@-webkit-keyframes scaleUp {
    0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    }
   
    50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    }
   
    100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    }
}
   
@keyframes scaleUp {
    0% {
     -webkit-transform: scale(1);
             transform: scale(1);
    }
   
    50% {
     -webkit-transform: scale(0.95);
             transform: scale(0.95);
    }
   
    100% {
     -webkit-transform: scale(1);
             transform: scale(1);
    }
}
   