/* definindo nosso estilo... */ 

@charset "UTF-8";

.fundofixo{
    background: url(../images/churrascaria.jpg) fixed no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
}

.cards-produtos-destaque {
    display: flex;
}

.espaco {
    margin-top: 20px;
}

.desfoque {
    filter: blur(4px);
}

.fixo {
    background: fixed;
    display: block;
}

.fundo-ofertas {
    background: url(../images/ofertas.png) no-repeat;
    background-size: cover;
    height: 800px;
}

.posicao-btn {
    padding-top: 600px;
    padding-right: 60px;
    text-align: end;
}

.tamanhobtn {
    font-size: 50px;
}