/* definindo nosso estilo... */ 

@charset "UTF-8";

.fundofixo{
    background: url(../images/churrascaria.jpg) fixed no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
}

.cards-produtos-destaque {
    display: flex;
}